<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Wolf</title>
    <link rel="stylesheet"  type="text/css" media="all" href="css/styles.css"/>
    <link rel="shortcut icon" type="imagex/png" href="images/barbosa.png">
</head>
<body>
<div class="container_fundo" >
    <div class="container_titulo" >
        <h1>Wolf Ecommerce</h1>
        <h2>Sistema de e-commerce</h2>
    </div>

    <div class="container_logotipos" >
        <img src="images/barbosa.png" />
    </div>

    <div class="container_comentario" >
        <h3>Versão: 2.0.0</h3>
        <h3 style="margin-left: 1vw; color: #1c3600" >SpringBoot</h3>
    </div>
    <h4>Copyright @Wolf Ecommerce LTDA</h4>
</div>
</body>
</html>